<!-- Snap Autograding Menu -->
<style type="text/css">
  .container {
    /*border: 1px solid #ccc;*/
    text-align: center;
    left: inherit;
    right: inherit;
    width: 100%;
  }

  .little-container {
    cursor:pointer;
    text-align: center;
    /*border: 3px white;*/
    height: 70px;
    /*left: inherit;*/
    /*right: inherit;*/
    width: inherit;
    background-color: #231f20;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;
    left: 54%;
    z-index: 1040;
    border-style: solid;
    border-radius: 1rem;
    border-width: 2px;
    border-color: gold;
    /*text-align: center;*/
    /*left: inherit;*/
    /*right: inherit;*/
    /*width: inherit;*/
  }

  .check-my-work{
    width:100%;
    color:white;
    position: absolute;
    bottom: 0;
    display: inline-block;
    test-aligh:center;
  }

  .star {
    text-align: center;
    font-size: 14px;
    color: whitesmoke;
    /*text-decoration-color: seashell;*/
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 5px;
  }

  .star img {
    width: 75px;
    height: 75px;
  }

  .little-star {
    text-align: center;
    font-size: 14px;
    color: whitesmoke;
    /*text-decoration-color: seashell;*/
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 5px;
  }

  .little-star img {
    width: 45px;
    height: 45px;
  }






  .little-trans-star {
    text-align: center;
    font-size: 14px;
    color: whitesmoke;
    /*text-decoration-color: seashell;*/
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 5px;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
  }

  .little-trans-star img {
    width: 45px;
    height: 45px;
  }



  @keyframes fadein {
    from {
      opacity:0;
    }
    to {
      opacity:1;
    }
  }
  @-moz-keyframes fadein { /* Firefox */
    from {
      opacity:0;
    }
    to {
      opacity:1;
    }
  }
  @-webkit-keyframes fadein { /* Safari and Chrome */
    from {
      opacity:0;
    }
    to {
      opacity:1;
    }
  }
  @-o-keyframes fadein { /* Opera */
    from {
      opacity:0;
    }
    to {
      opacity: 1;
    }
  }




  .star:hover {
    width: 90px;
    height: 90px;
    outline-width: 3px;
    outline-style: solid;
  }
  .hover_over_stars_instruction{
    font-size: 16px;
    color: whitesmoke;
  }


  .description {
    display: none;
    /*font-size:*/
  }

  .description-table {
    /*display: none;*/
    text-align: center;
    font-size: 18px;
    color: whitesmoke;
  }
  .star:hover .description-table {
    display: block;
    text-align: center;
    font-size: 18px;
    color: whitesmoke;
  }
  .quizimg{
    height: 90px;
  }

  body{
  background-color: #f2eeff;
  /*background-color: #000000;*/
  }

  #quiz{
    color: gold;
    font-size: 20px;
  }


  /*@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);*/

  /*body{*/
  /*font-size: 20px;*/
  /*font-family: 'Work Sans', sans-serif;*/
  /*color: #333;*/
  /*font-weight: 300;*/
  /*text-align: center;*/
  /*background-color: #f8f6f0;*/
  /*}*/
  h1{
    font-weight: 300;
    margin: 0px;
    padding: 10px;
    font-size: 20px;
    background-color: #444;
    color: #fff;
  }
  .question{
    color: whitesmoke;
    font-size: 30px;
    margin-bottom: 10px;
  }
  .answers {
    color: whitesmoke;
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
  }
  .answers label{
    color: whitesmoke;
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
  }
  .answerdiv{
    color:whitesmoke!important;
    font-size: 17px!important;
    /*font-size: */
  }
  #askteacher{
    background-color: #232323;
    color: whitesmoke!important;
  }

  /*button:hover{*/
    /*background-color: #38a;*/
  /*}*/
  .activesubmit{
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    background-color: #f2ff2d!important;
    color: #1e2121;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  .activesubmit:hover{
    background-color: #38a!important;
  }
  .greysubmit{
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    background-color: #4f5353;
    color: #1e2121;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  .overlay{
    position:absolute;
  }
  #myForm{
    display: none;
    background: white;
    position: relative;
    /*bottom: 0;*/
    /*right: 15px;*/
    border: 3px solid #f1f1f1;
    z-index: 9;
  }



  /*#ag-output{*/
    /*z-index: 1;*/
  /*}*/


  #close {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;


    position: absolute;
    background: #ff5763;
    color: white;
    top: 0px;
    right: -10px;
  }


  #close-chatpopup{
    position: absolute;
    top: 0px !important;
    right: 0px !important;
  }

</style>

<!--<div id="quiz"></div>-->
<!--<button id="submit">Submit Quiz</button>-->
<!--<div id="results"></div>-->



<div class="overlay hidden" id="ag-output">
  <!--<div class = 'quiz' id = 'quiz'> </div>-->
  <!--<div class = 'results' id = 'results'> </div>-->

  <div class="popup-content" id="ag-results">
    <br>
    <br>
    <br>
    <br>
    <p id="comment"></p>
  </div>
</div>

<script>
    populateQuiz = function() {
        var i, j, x;

        var comment = document.getElementById("comment");
        comment.innerHTML = "";

        while (comment.nextSibling) {
            document.getElementById("ag-results").removeChild(comment.nextSibling);
        }




        quiz = document.createElement('div');
        quiz.id = 'quiz';
        results = document.createElement('div');
        results.id = 'results';
        submitButton = document.createElement('button');
        submitButton.id = "submit";
        submitButton.className = 'greysubmit';
        submitButton.innerHTML = 'Submit';
        closeButton = document.createElement('button');
        closeButton.id = "close";
        closeButton.innerHTML = 'X';
        // nextButton = document.createElement('button');
        // nextButton.id = "next";
        // nextButton.innerHTML = 'nextButton';

        $("#ag-results").append(quiz);
        $("#ag-results").append(results);
        $("#ag-results").append(submitButton);
        $("#ag-results").append(closeButton);
        // $("#ag-results").append(previouButton);
        // $("#ag-results").append(nextButton);

        (function() {
            function buildQuiz() {
                // we'll need a place to store the HTML output
                const output = ["Knowledge Check: "];

                // for each question...
                myQuestions.forEach((currentQuestion, questionNumber) => {
                    // we'll want to store the list of answer choices
                    const answers = [];
                    ;

                    // and for each available answer...
                    for (letter in currentQuestion.answers) {
                        // ...add an HTML radio button
                        answers.push(
                            `<label>
            <input type="radio" name="question${questionNumber}" value="${letter}">
            ${letter} :
            ${currentQuestion.answers[letter]}
          </label>`
                        );
                    }

                    // add this question and its answers to the output
                    output.push(
                        `<div class="question"> ${currentQuestion.question} </div>
        <div class="answers"> ${answers.join("")} </div>`
                    );
                });

                // finally combine our output list into one string of HTML and put it on the page
                quizContainer.innerHTML = output.join("");
            }

            function showResults() {

                const answerContainers = quizContainer.querySelectorAll(".answers");

                // keep track of user's answers
                let numCorrect = 0;

                // for each question...
                myQuestions.forEach((currentQuestion, questionNumber) => {
                    // find selected answer
                    const answerContainer = answerContainers[questionNumber];
                    const selector = `input[name=question${questionNumber}]:checked`;
                    // //console.log('quesitonNumber: ', questionNumber);
                    // //console.log('currentQuestion: ', currentQuestion);
                    // //console.log('selector: ', selector);
                    const userAnswer = (answerContainer.querySelector(selector) || {}).value;
                    Trace.log(userAnswer.toString());
                    <% if @quiz and @quiz.id == 9 %>
                      answerdiv = document.getElementById("answerdiv");
                      if (answerdiv === null) {
                          answerdiv = document.createElement('div');
                      }
                      if (userAnswer == "a"){
                          // if ()
                          answerdiv.innerHTML = "<%= @options[0].comment.html_safe%>";
                      }
                      if (userAnswer == "b"){
                          answerdiv.innerHTML = "<%= @options[1].comment.html_safe%>";
                      }
                      answerdiv.className = ('answerdiv');
                      answerdiv.id = 'answerdiv';

                      $("#ag-results").append(answerdiv);

                    <% elsif @quiz%>
                      answerdiv = document.getElementById("answerdiv");
                      if (answerdiv === null) {
                          answerdiv = document.createElement('div');
                      }
                      if (userAnswer == "a"){
                          // if ()
                          answerdiv.innerHTML = "<%= @options[0].comment.html_safe%>";
                      }
                      if (userAnswer == "b"){
                          answerdiv.innerHTML = "<%= @options[1].comment.html_safe%>";
                      }
                      if (userAnswer == "c"){
                          answerdiv.innerHTML = "<%= @options[2].comment.html_safe%>";
                      }
                      answerdiv.className = ('answerdiv');
                      answerdiv.id = 'answerdiv';

                      $("#ag-results").append(answerdiv);
                    <% end %>



                    // if answer is correct
                    if (userAnswer === currentQuestion.correctAnswer) {
                        next_subtask = document.getElementById('next-subtask');

                        // // //console.log(divTest);
                        try {
                            divTest;
                        }
                        catch(err) {
                           divTest = $('<div>')
                                .html("<%= escape_javascript link_to(image_tag("next.png"), minitask_path(@nextminitask.id), {class: 'nextminitask', id: "next-subtask" }) %>");
                            $("#ag-results").append(divTest);

                        }

                    } else {


                    }
                });



            }

            const quizContainer = document.getElementById("quiz");
            const resultsContainer = document.getElementById("results");
            const submitButton = document.getElementById("submit");
            const closeButton = document.getElementById("close");
            <% if @quiz and @quiz.id == 9 %>
            const myQuestions = [
                {
                    question: "<%= @quiz.quizbody.html_safe%>",
                    answers: {
                        a: "<%= @options[0].optionbody.html_safe%>",
                        b: "<%= @options[1].optionbody.html_safe%>",
<!--                        c: "<%#= @options[2].optionbody.html_safe%>"-->
                    },
                    correctAnswer:  "<%= @quiz.solution%>"
                },
            ];
            <% elsif @quiz%>
              const myQuestions = [
                  {
                      question: "<%= @quiz.quizbody.html_safe%>",
                      answers: {
                          a: "<%= @options[0].optionbody.html_safe%>",
                          b: "<%= @options[1].optionbody.html_safe%>",
                          c: "<%= @options[2].optionbody.html_safe%>"
                      },
                      correctAnswer:  "<%= @quiz.solution%>"
                  },
              ];

            <% else%>
            const myQuestions = [];

            <% end%>
                // }


            // display quiz right away
            buildQuiz();
            // $('#submit').hide();
            // on submit, show results
            $(document).ready(function() {
                $('input[type=radio]').change(function() {

                    $('#submit').addClass("activesubmit");
                    submitButton.addEventListener("click", showResults);

                });
            });


            closeButton.addEventListener("click", closePopup);
        })();

    };

    populateFeedback = function(feedbackLog, allFeedback, chunknum, tipnum) {
        console.log('populateFeedback');
        var i, j, x;
        var comment = document.getElementById("comment");
        comment.innerHTML = "";
        while (comment.nextSibling) {
            document.getElementById("ag-results").removeChild(comment.nextSibling);
        }
        // var little_stars = document.getElementById("little-stars");


        var little_stars = document.getElementById("little-stars");
        check_my_work = document.createElement('div');
        check_my_work.innerHTML = "Check My Work";
        check_my_work.className = ('check-my-work');
        little_stars.innerHTML = "";
        little_stars.append(check_my_work);

        var log = feedbackLog;
        var chunks = log.chunk_list;
        var linebreak = document.createElement("br");
        var numtips = 0;
        var chunkHasCorrectTip = false;
        var tipHasCorrectTest = false;
        var tipsDiv = document.getElementById("numtips");
        // ['correct', 'incorrect'].forEach(createCorrectIncorrectGrouping);
        var correct_total = 0;
        var incorrect_total = 0;
        var correct_feedbacks = [];
        var incorrect_feedbacks = [];
        for (i = 0; i < chunks.length; i++) {
            //console.log('this chunk: ', chunks[i]);
            var chunk = chunks[i];
            var tips = chunk.tip_list;
            var allFeedback = allFeedback !== undefined ? allFeedback : false;
            var currRank = 1;
            //console.log("tips: ", tips);
            x = 0;
            //console.log('x', x, 'tips.length', tips.length);
            var tip = tips[x];
            var label_class = "incorrectans";
            if (tip.allCorrect) {
                correct_total += 1;
                label_class = "correctans";
            } else {
                incorrect_total += 1;
                numtips += 1;
            }
            var tipPoints = "";
            var allTests = tip.test_list;
            j = 0;
            var thisTest = allTests[j];
            if (thisTest.testClass !== "r") {

                if (thisTest.correct) {
                    correct_feedbacks.push(thisTest.feedback);
                    if (allFeedback || tip.allCorrect) {
                    }
                } else {
                    incorrect_feedbacks.push(thisTest.feedback);
                }
            }

        }
        hover_over_stars_instruction = document.createElement('div');
        hover_over_stars_instruction.innerHTML = "Hover over the stars to see what to work on!";
        hover_over_stars_instruction.className = ('hover_over_stars_instruction');
        hover_over_stars_instruction.id = 'hover_over_stars_instruction';
        $("#ag-results").append(hover_over_stars_instruction);
        //console.log('correct_total', correct_total);
        //console.log('incorrect_total', incorrect_total);
        //console.log('correct_feedback', correct_feedbacks);
        //console.log('incorrect_feedback', incorrect_feedbacks);




        for (i = 0; i < correct_total; i++) {
            console.log("window.currentStars: ", window.currentStars);
            if (i < window.currentStars) {
                star = $('<div>')
                    .html("<%= escape_javascript image_tag('star.jpg') %>").addClass('little-star');
                $("#little-stars").append(star);
            }
            else{
                trans_star = $('<div>')
                    .html("<%= escape_javascript image_tag('star.jpg') %>").addClass('little-trans-star');
                $("#little-stars").append(trans_star);
            }
        }
        for (i = 0; i < incorrect_total; i++) {
            unstar = $('<div>')
                .html("<%= escape_javascript image_tag('unstar.jpg') %>").addClass('little-star');
            $("#little-stars").append(unstar);
        }

        window.currentStars = correct_total;








        stars = document.createElement('div');
        stars.className = ('container');
        stars.id = 'stars';
        $("#ag-results").append(stars);
        for(i = 0; i < correct_total; i++){
            star = $('<div>')
                .html("<%= escape_javascript image_tag('star.jpg') %>").addClass('star');
            var data = document.createElement('p');
            data.innerHTML = correct_feedbacks[i];
            data.className = 'description';
            star.append(data);
            $("#stars").append(star);

<!--            little_star = $('<div>')-->
<!--                .html("<%= escape_javascript image_tag('star.jpg') %>").addClass('little-star');-->
<!--            $("#little-stars").append(little_star);-->

        }





        for(i = 0; i < incorrect_total; i++){
            unstar = $('<div>')
                .html("<%= escape_javascript image_tag('unstar.jpg') %>").addClass('star');
            var data = document.createElement('p');
            data.innerHTML = incorrect_feedbacks[i];
            data.className = 'description';
            unstar.append(data);
            $("#stars").append(unstar);

<!--            unstar = $('<div>')-->
<!--                .html("<%= escape_javascript image_tag('unstar.jpg') %>").addClass('little-star');-->
<!--            $("#little-stars").append(unstar);-->

        }
        var description_table = document.createElement('p');
        description_table.innerHTML = "<span>&nbsp;<\span>";
        description_table.className = 'description-table';
        description_table.id = 'description-table';
        $("#ag-results").append(description_table);
        $( "div.star" )
            .mouseenter(function() {
                description = this.children[1].innerHTML;
                //console.log(description);
                $( "#description-table" ).find( "span" ).html( description);
            })
            .mouseleave(function() {
                $(  "#description-table"  ).find( "span" ).text();
            });
        unstar = $('<div>')
            .html("<%= escape_javascript image_tag('unstar.jpg') %>").addClass('star');
        // unstar.className = 'unstar';
        if (numtips == 0) {
            next_subtask = document.getElementById('next-subtask');

            <% if @minitask.order < 3%>
            { var divTest = document.createElement('div');
                divTest.innerHTML = "<%= escape_javascript link_to(image_tag("next.png"),  minitask_path(@nextminitask.id), {class: 'checkmywork2', id: "next-subtask" }) %>";
                console.log('divTest: ', divTest);
                document.body.appendChild(divTest);
            }
            <% elsif @minitask.order == 3%>
            {
                var divTest = document.createElement('div');
                divTest.innerHTML = "<%= escape_javascript link_to(image_tag("next.png"),  tasks_path, {class: 'checkmywork2', id: "next-subtask" }) %>";
                console.log('divTest: ', divTest);
                document.body.appendChild(divTest);
            }
            <% end %>
        }
        var askteacher = document.createElement('button');
        askteacher.id = "askteacher";
        askteacher.classname = 'askteacher';
        askteacher.innerHTML = 'Ask teacher to check my work';
        $("#ag-results").append(askteacher);
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        };
        function closeForm() {
            //console.log('closeForm');
            document.getElementById("myForm").style.display = "none";
        };
        var chatpopup = document.createElement('div');
        chatpopup.id = "myForm";
        chatpopup.classname = 'chat-popup';
        chatpopup.innerHTML = "<b>The following can only be filled in by an instructor </b> <br> <b>Allow student to proceed to next task:</b><input></input><br><br><button class='btn' id = 'send-chatpopup'>Send</button><br><button type='button' class='btn cancel' id = 'close-chatpopup' onclick='closeForm()'>Close</button>";
        chatpopup.style.display = 'none';
        $("#ag-results").append(chatpopup);
        askteacher.addEventListener("click", openForm);
        close_chatpopup = document.getElementById('close-chatpopup');
        close_chatpopup.addEventListener('click', closeForm);
        function chatpopupNext() {
            // var password = document.getElementById('password').value;
            // if (password === "summercamp") {
                try {
                    divTest.innerHTML;
                    console.log("trydivTest: ", divTest);
                }
                catch (err) {



                    <% if @minitask.order < 3%>
                    { var divTest = document.createElement('div');
                        divTest.innerHTML = "<%= escape_javascript link_to(image_tag("next.png"),  minitask_path(@nextminitask.id), {class: 'checkmywork2', id: "next-subtask" }) %>";
                        console.log('divTest: ', divTest);
                        document.body.appendChild(divTest);
                    }
                    <% elsif @minitask.order == 3%>
                    {
                        var divTest = document.createElement('div');
                        divTest.innerHTML = "<%= escape_javascript link_to(image_tag("next.png"),  tasks_path, {class: 'checkmywork2', id: "next-subtask" }) %>";
                        console.log('divTest: ', divTest);
                        document.body.appendChild(divTest);
                    }
                    <% end %>


                    // divTest.appendTo(document.body);
                }
            // }
        }
        send_chatpopup = document.getElementById('send-chatpopup');
        console.log('send chatpopup');
        send_chatpopup.addEventListener('click', chatpopupNext);
        var closeButton = document.createElement('button');
        closeButton.id = "close";
        closeButton.innerHTML = 'X';
        $("#ag-results").append(closeButton);
        console.log('dddddddddddd');
        // const closeButton = document.getElementById("close");
        closeButton.addEventListener("click", closePopup);
        // $("#stars").append(star);
        // $("#stars").append(unstar);
        // TODO Make a function for this.
        tipsDiv.innerHTML = '<span class="badge">{0}</span>'.format(numtips) + pluralize('tip', numtips);
        if (tipHasCorrectTest) {
            $(SELECT.toggle_correct_button).show();
        }
        openResults();
    };

    populateLittleFeedback = function(feedbackLog, allFeedback, chunknum, tipnum) {

        // console.log('-------------populatelittleFeedback--------------------');
        var little_stars = document.getElementById('little-stars');

        check_my_work = document.createElement('div');
        check_my_work.innerHTML = "Check My Work";
        check_my_work.className = ('check-my-work');
        little_stars.innerHTML = "";
        little_stars.append(check_my_work);

        var i, j, x;

        var log = feedbackLog;
        var chunks = log.chunk_list;
        var numtips = 0;
        var correct_total = 0;
        var incorrect_total = 0;
        for (i = 0; i < chunks.length; i++) {
            //console.log("chunks.length", chunks.length);
            //console.log('this chunk: ', chunks[i]);
            var chunk = chunks[i];
            var tips = chunk.tip_list;
            var allFeedback = allFeedback !== undefined ? allFeedback : false;
            var currRank = 1;
            //console.log("tips: ", tips);
            x = 0;
            //console.log('x', x, 'tips.length', tips.length);
            var tip = tips[x];
            var label_class = "incorrectans";
            if (tip.allCorrect) {
                correct_total += 1;
                label_class = "correctans";
            } else {
                incorrect_total += 1;
                numtips += 1;
            }

        }



        for (i = 0; i < correct_total; i++) {
            // console.log("window.currentStars: ", window.currentStars);
            if (i < window.currentStars) {
                star = $('<div>')
                    .html("<%= escape_javascript image_tag('star.jpg') %>").addClass('little-star');
                $("#little-stars").append(star);
            }
            else{
                trans_star = $('<div>')
                    .html("<%= escape_javascript image_tag('star.jpg') %>").addClass('little-trans-star');
                $("#little-stars").append(trans_star);
            }
        }
        for (i = 0; i < incorrect_total; i++) {
            unstar = $('<div>')
                .html("<%= escape_javascript image_tag('unstar.jpg') %>").addClass('little-star');
            $("#little-stars").append(unstar);
        }

        window.currentStars = correct_total;
        if (numtips == 0){
          <% if @minitask.order < 3%>
          { var divTest = document.createElement('div');
              divTest.innerHTML = "<%= escape_javascript link_to(image_tag("next.png"),  minitask_path(@nextminitask.id), {class: 'checkmywork2', id: "next-subtask" }) %>";
              console.log('divTest: ', divTest);
              document.body.appendChild(divTest);
          }
          <% elsif @minitask.order == 3%>
          {
              var divTest = document.createElement('div');
              divTest.innerHTML = "<%= escape_javascript link_to(image_tag("next.png"),  tasks_path, {class: 'checkmywork2', id: "next-subtask" }) %>";
              console.log('divTest: ', divTest);
              document.body.appendChild(divTest);
          }
          <% end %>
        }

    };
</script>